<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>


<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<div th:if="${#lists.isEmpty(personBooks)}">
    <p th:text="${'У пользователя пока нет книг'}"></p>
</div>

<tr th:each="book: ${personBooks}">
    <p th:style="${book.deprecatedBook == true ? 'color:black' : 'color:red'}" th:text="${book.bookName + ', ' + book.author + ', ' + book.year}" />
</tr>

</body>
</html>