<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Books</title>
</head>
<body>
<h1>Search Books</h1>

<form th:action="@{/books/search}" method="post">
    <input type="text" name="prefix" placeholder="Search books"/>
    <button type="submit">Search</button>
</form>

<h2>Search Results:</h2>
<ul>
    <li th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.bookName}"></a>
        <label for="book.owner.name">Книга сейчас у: </label>
        <a th:text="${book.owner.getName()}" th:field="*{book.owner.name}" id="book.owner.name"></a>
    </li>
</ul>
</body>
</html>
